
        <body class="main">
          <br><br><br><br><br>
        <div class="content">
       
          <h1>Welcome to <span>IoI </span>phone <br></h1>
          <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
               expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
              <br> a quae totam ipsa illum minus laudantium?</p>

              <button class="cn"><a routerLink=''>JOIN US</a></button>

              <form  [formGroup]="loginForm">
                  <h2>Login Here</h2>
                  <input formControlName="name" name="name" type="text" class="form-control rounded-e mt-3" placeholder="Enter name Here"  required>
                  <input formControlName="email" name="email" type="email" class="form-control rounded-e mt-3" placeholder="Enter Email Here" required>
                  <input  formControlName="password" name="password" type="password" class="form-control rounded-e mt-3" autocomplete="on" placeholder="Enter Password Here" required>
                  <button class="btnn "(click)="loginUser();"   type="button">login</button>


                  <p class="link">Don't have an account?<br>
                
               
                  <a  routerLink='/register' routerLinkActive='active'>Sign Up</a>
                </p>
             

                    </form>
         </div>
        </body>
   
