*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    background: rgb(49, 48, 48);
}
body{
    min-height: 20vh;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    margin-top: 67px;
    padding: 15px;
    z-index: 100000;
    opacity: 0.8;

}


header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
header ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    

}
header ul li {
    position: relative;
    list-style: none;
}
